<div class="max-w-3xl mx-auto py-10">
  <h1 class="text-2xl font-semibold mb-5">Profile</h1>
  <p class="mb-5">Email: <%= current_user.email %></p>

  <% if current_user.avatar.present? %>
    <%= image_tag current_user.avatar.url, class: "h-20 w-20 rounded-full mb-5", alt: "User Avatar" %>
  <% else %>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/DALM1", class: "h-20 w-20 rounded-full mb-5", alt: "User Avatar" %>
  <% end %>

  <%= link_to 'Edit Profile', edit_user_path(current_user), class: "text-gray-900 hover:text-gray-700 px-3 py-2 rounded-md text-sm font-medium" %>
</div>
